html {
  font-size: 62.5%;
  font-family: 'Ubuntu', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html,
body {
  height: 100%;
  touch-action: pan-x pan-y;
}

body {
  padding: 0;
  margin: 0;
}

#root {
  height: 100%;
}
