.control>div.cheat{/*更换（换将卡）按钮*/
margin: 0px 0px -60px 800px !important; /*外边距，别管*/
background:none;
text-align: center;
font-size:18px;
box-sizing: border-box;
box-shadow:none;
max-height:18px;
}
.control>div.cheat2{/*自由选将*/
	margin:80px 0px 0px 800px !important; /*外边距，别管*/
	text-align: center;
	background:none;
	font-size:18px;
	max-height:18px;
box-sizing: border-box;
box-shadow:none;
}
.dianhuan{/*点将卡换将卡位置*/
background-image: url("identity/hjk.png");
background-size: 100% 100%;
z-index:7;
bottom:0px;
right:0%;
width:30%;
height:10%;
}
.junbazhu{/*主提示底框*/
top:-20px;
left:20%;
width:60%;
height:245px;
background-image: url("identity/info.png");
background-size: 100% 100%;
z-index:7;
}
.junbaseat{/*座位提示底框*/
top:-1.9%;
right:-2.2%;
 --w: 200px;
 --h: calc(var(--w) * 191/334);
 width: var(--w);
 height: var(--h);
background-image: url("identity/seat.png");
background-size: contain;
z-index:7;
}
.junbaseat>.metip{/*右上角玩家身份提示*/
display:block;
position:relative;
height:20%
width:100%;
text-align:center;
font-family:shousha;
font-size:24px;
bottom:-80%;
z-index:7;
}
.junbaseat>.num{/*右上角座位基础图*/
background-image: url("identity/unknown.png");
	background-size: 100% 100%;
	background-repeat: no-repeat;
--w: 28px;
 --h: calc(var(--w) * 58/38);
 width: var(--w);
 height: var(--h);
 padding-bottom:0px;
}
.junbaseat>.num.num0{/*我的位置*/
right:1px;
bottom:1px;
}
.junbaseat>.num.num1{
right:5%;
bottom:40%;
}
.junbaseat>.num.num2{
right:18.2%;
bottom:50%;
}
.junbaseat>.num.num3{
right:31.4%;
bottom:60%;
}
.junbaseat>.num.num4{
right:44.6%;
bottom:60%;
}
.junbaseat>.num.num5{
right:57.8%;
bottom:60%;
}
.junbaseat>.num.num6{
right:71%;
bottom:50%;
}
.junbaseat>.num.num7{
right:84.2%;
bottom:40%;
}
.junbaseat>.num.zhu{/*主公*/
background-image: url("identity/zhu.png");
}
.junbaseat>.num.zhong{/*忠*/
background-image: url("identity/zhong.png");
}
.junbaseat>.num.fan{
background-image: url("identity/fan.png");
}
.junbaseat>.num.nei{
background-image: url("identity/nei.png");
}
.junbazhu>.left>.biao{/*主公提示框的主公标记*/
top:-5px;
right:-5px;
width:40px;
height:40px;
background-image: url("identity/zhu1.png");
background-size:contain;
z-index:10;
}
.junbazhu >.biankuangname{/*武将边框*/
	background-size: 100% 100%;
    width: 21%;
    left: 10%;
    height:70%;
    bottom: 15%;
    top: auto;
    z-index: 8;
}
.junbazhu >.biankuangname>.name{/*武将名字*/
    writing-mode:vertical-lr;
	background-size: 100% 100%;
    width: 100%;
    left: 2%;
    height:100%;
    font-family:shousha;
    top: 12%;
    z-index: 100;
}
.junbazhu >.biankuangname>.zhuhp{/*血条*/
	display: flex;
    left: 2%;
    bottom: 4%;
	width: 15px;
	white-space:normal;
	height:15px;
	flex-direction: row;
	flex-wrap: wrap-reverse;
	justify-content:flex-end;
	font-size: 16px;
    word-break: break-word;
	z-index: 100;
}
.zhuhp[data-color="high"] {
   color: #7eb77a;
}
.zhuhp[data-color="mid"] {
   color: #dfa827;
}
.zhuhp[data-color="low"] {
	color: #9f3632;
}
.junbazhu >.zhuover {/*主公已选将*/
    left:30%;
	top: 10%;
	background-image: url("identity/zhuover.png");;
	bottom: auto;
	width: 40%;
	height: 12.5%;
	background-size: 100% 100%;
	background-repeat: no-repeat;
	z-index: 9;
}
.junbazhu >.left {/*主公图片*/
    left: 13%;
	top: auto;
	bottom: 15%;
	border-radius:6px;
	width: 18%;
	height: 70%;
	background-size: 100% 100%;
	background-repeat: no-repeat;
	z-index: 9;
}
.junbazhu >div.right {/*右边技能提示*/
  left: 35%;
  width: 60%;
  box-sizing: border-box;
  padding: 20px 15px 20px 0;
  overflow: auto;
  top:auto;
  top:15%;
  max-height:70%;
}
.junbazhu > div.right > div {
  width: 100%;
  height: 60%;
  overflow: auto;
}
.junbazhu > div.right div {
  position: relative;
  bottom: -35%;
}
.junbazhu > div.right .xcaption {
  width: 100%;
  bottom: 0%;
  color:#C8A82C;/*技能名称*/
  text-align: center;
  font-size: 18px;
  font-weight: bold;
  padding: 10px 0;
  font-family: 'shousha';
}
.junbazhu > div.right .xskill {
  width: 100%;
  bottom: 0%;
}
.junbazhu> div.right .xskill > div {
  display: inline;
  color: white;/*技能文描述颜色*/
  text-shadow: none;
  font-size: 16px;
  font-weight:bold;
  font-family: 'shousha';
}
.junbazhu > div.right .xskill > div[data-color] {
  color: #F0DB1E;
}
.junbazhu> div.right .xskill > div[data-color="red"] {
  color: #F0DB1E;
}
.junbazhu > div.right .xskill > div[data-color="black"] {
  color: #F0DB1E;
}
.junbazhu> div.right .xskill + .xskill {
  margin-top: 15px;
}
.control > div.choice { /*其他按钮(确认/取消除外)*/
	background-image: url("image/cbtn.png");
	background-size: 100% 100%;
	text-align: center;
	padding: 1px 1px !important; /*按钮高度+宽度 建议别调*/
	min-width: 120px !important; /*限制最小宽度*/
	min-height: 15px !important; /*限制最小高度*/
	margin: 2px 20px 3px 20px !important; /*外边距，别管*/
	font-family: 'shousha'; /*字体样式*/
	font-size: 30px; /*字体大小*/
	border-radius: 4px;
	color:gold;
	overflow: visible;
	transition: none;
}
.ok23{/*选将时双击确认的按钮*/
width:100%;
height:100%;
z-index:100;
}
.nmscore1{/*手牌分十位*/
display: block;
position: absolute;
width:30px;
left:16px;
bottom:25px;
height:30px;
background-repeat:no-repeat;
background-size:contain;
z-index:1;
}
.nmscore2{/*手牌分个位*/
display: block;
position: absolute;
width:30px;
right:26px;
bottom:25px;
height:30px;
background-repeat:no-repeat;
background-size:contain;
z-index:1;
}
.nmcardscore{/*手牌分背景*/
display: block;
position: absolute;
width:90px;
background-image: url('handscore/score.png');
right:36%;
bottom:20px;
height:90px;
background-repeat:no-repeat;
background-size:contain;
border-radius:16px;
z-index:-1;
}
.nmjindutiao1{/*手气卡进度条*/
display: block;
position: absolute;
width:60%;
background-image: url('image/time.png');
left:20%;
bottom:134px;
height:16px;
background-repeat:no-repeat;
background-size:100% 100%;
border-radius:16px;
z-index:-1;
}
.nmjindutiaox1{
display: block;
position: absolute;
background-image:url('image/timex.png');
width:59.9%;
left:20.1%;
bottom:134.2px;
background-repeat:no-repeat;
background-size:100% 100%;
border-radius:16px;
height:16px;
z-index:0;
-webkit-animation:nmxiaoshi 30s;
}
.nmjindutiao{/*抢地主和选将进度条*/
display: block;
position: absolute;
width:60%;
background-image: url('image/time.png');
left:20%;
bottom:5px;
height:14px;
background-repeat:no-repeat;
background-size:100% 100%;
border-radius:14px;
z-index:7;
}
.nmjindutiaox{
display: block;
position: absolute;
background-image:url('image/timex.png');
width:60%;
left:20%;
bottom:5.2px;
background-repeat:no-repeat;
background-size:100% 100%;
border-radius:14px;
height:14px;
z-index:8;
animation:nmxiaoshi 20s;
}
@keyframes nmxiaoshi {
	from {
		width: 60%;
	}
	to {
		width: 0;
	}	
}
.weizhitip{/*斗地主右上角位置提示*/
display: block;
position: absolute;
right:-5%;
width:240px;
height:120px;
background-repeat:no-repeat;
background-size:contain;
top:-2%;
z-index:7;
}
.control.dou> div { /*抢地主按钮*/
	height: 100px !important;
	background-size: contain;
	width:100px;
	padding: 1px 1px !important; /*按钮高度+宽度 建议别调*/
	margin: 2px 5px 160px 25px !important; /*外边距，别管*/
	font-size: 0px; /*字体大小*/
	border-radius: 50%;
	background-repeat:no-repeat;
}
.choosech{/*选将提示*/
display: block;
position: absolute;
left:0px;
width:100%;
height:24px;
font-family:shousha;
bottom:20px;
text-align:center;
font-size:20px;
font-weight:bold;
color: #E7DAC9;
text-shadow: 1px 1px 2.5px rgba(62, 57, 38, 0.1);
z-index:8;
}
.dizhutip{/*抢地主提示*/
display: block;
position: absolute;
left:0px;
width:100%;
height:24px;
bottom:20px;
text-align:center;
font-size:20px;
font-family:shousha;
font-weight:bold;
color: #E7DAC9;
text-shadow: 1px 1px 2.5px rgba(62, 57, 38, 0.1);
z-index:8;
}
#arena.decadeUI.choose-character.dui-mobile>.dialog.choose>.content-container>.content{
height:250px !important;
overflow: visible;

}
#arena.decadeUI.choose-character.dui-mobile>.dialog.choose>.content-container>.content>.buttons>.button.character.decadeUI.newstyle{/*换了吗模式开始的悬空选将框*/
border-image-source: url('image/jbg.png');
	border-image-slice: 15 16 26 40;
	float: top;
	border-width:10px 7.5px 20px 24px;
	zoom: 1.2;
	border-style: solid;
	box-shadow: none;
	margin-left:10px;
	border-radius: 2px 2px 2px 2px;/*左上到左下顺时针*/
	z-index:10;
	background: content-box;
	opacity: 1;
	transition: opacity 0.3s linear;
   }
#arena.decadeUI.choose-character.dui-mobile>.dialog.choose {
	bottom: 180px;
	height:250px !important;
	overflow: visible;
	width: 800px !important;
	left: calc(50% - 400px) !important;
	right: calc(50% - 400px) !important;
	background-image:none !important;
	background:none !important;
	box-shadow:none !important;
	border:none !important;
}
.hongbao{/*红包*/
display: block;
position: absolute;
background-color: none;
background-image: url('image/hongbao.png') !important;
background-size: cover !important;
bottom:100%;
width:100px;
height:100px;
zoom:0.8;
right: 20px;
z-index:100;
transition:3s;
/*display:none;*/
visibility:hidden;
animation:diaoluo 0.5s;
}
@keyframes diaoluo {
	from {
		bottom: 600px;
		visibility: visible;
	}
	to {
		bottom: 0;		
	}	
}
/*菜单界面武将皮肤属性*/
.button.character.decadeUI.newstyle.noclick>.character{
height:142px;
}
/*按钮，扶汉之类*/
#arena.decadeUI.dui-mobile[data-loading-style='othersOn']>.dialog .tdnode {
    z-index: 100;
}
/*控制台的边框*/
.button.character.noclick::before{
border: none;
background:none;
}
.button.character.noclick.glow::after{
	border: none;
	background:none;
	background-image:none;
	}
.menu.main>.menu-content>div>.menubutton.round {
	z-index: 50;
}
.button.character>.showintro.rarity {
    left: calc(50% + 8px);
    top: -5px;
}
.button.character>.name {/*开始菜单武将名字*/
	font-family: 'shousha';
	top: 15px;
	left: -15px;
	font-size: 14px;
}/*这个调整选将框的武将大小*/
.dialog .buttons>.button.character.decadeUI, .button.character.longcharacter.decadeUI {
    width: 81.5px;
    height: 130px;
	border-radius:none;
	box-shadow:none !important;
    background-position: fixed;
    background-size:100% 100% !important;
   /* z-index:10;*/
}
/*露头大小*/
#arena[data-outcrop-skin='on'] .button.character>.character {
    height: 140px;
}
/*这里开始是选将框去除阴影*/
#arena.decadeUI.dui-mobile[data-loading-style='othersOn']>.dialog.scroll1, #arena.decadeUI.dui-mobile[data-loading-style='othersOn']>.dialog.scroll2{
	background: none ;
	box-shadow: none !important;
	/*width:90% !important;*/
}
/*这里是默认的武将边框为群，大小位置也在这里调*/
.button.character.newstyle>.identity {
     left: -17.5px;
	height: 133px;
	width: 102px;
    top: -2px;
	font-size: 0px;
	z-index: -1;
	background-color: none;
	background-image: url('group/qun.png') !important;
	background-size: 100% 100% !important;
}
/*按照下面的格式填写扩展武将的边框，不填写的默认为群*/
.button.character.newstyle>.identity[data-nature="metal"]{
	background-image: url('group/qun.png') !important;
	background-size: 100% 100% !important;
}
.button.character.newstyle>.identity[data-nature="metalmm"]{
	background-image: url('group/qun.png') !important;
	background-size: 100% 100% !important;
}
.button.character.newstyle>.identity[data-nature="soil"]{
	background-image: url('group/shu.png') !important;
	background-size: 100% 100% !important;
}
.button.character.newstyle>.identity[data-nature="soilmm"]{
	background-image: url('group/shu.png') !important;
	background-size: 100% 100% !important;
}
.button.character.newstyle>.identity[data-nature="thunder"]{
	background-image: url('group/jin.png') !important;
	background-size: 100% 100% !important;
}
.button.character.newstyle>.identity[data-nature="thundermm"]{
	background-image: url('group/jin.png') !important;
	background-size: 100% 100% !important;
}
.button.character.newstyle>.identity[data-nature="wood"]{
	background-image: url('group/wu.png') !important;
	background-size: 100% 100% !important;
}
.button.character.newstyle>.identity[data-nature="woodmm"]{
	background-image: url('group/wu.png') !important;
	background-size: 100% 100% !important;
}
.button.character.newstyle>.identity[data-nature="watermm"]{
	background-image: url('group/wei.png') !important;
	background-size: 100% 100% !important;
}
.button.character.newstyle>.identity[data-nature="water"]{
	background-image: url('group/wei.png') !important;
	background-size: 100% 100% !important;
}
.button.character.newstyle>.identity[data-nature="shen"]{
	background-image: url('group/shen.png') !important;
	background-size: 100% 100% !important;
}
.button.character.newstyle>.identity[data-nature="ye"]{
	background-image: url('group/ye.png') !important;
	background-size: 100% 100% !important;
}
.button.character.newstyle>.identity[data-nature="key"]{
	background-image: url('group/key.png') !important;
	background-size: 100% 100% !important;
}
.button.character.newstyle>.identity[data-nature="keymm"]{
	background-image: url('group/key.png') !important;
	background-size: 100% 100% !important;
}
/*武将名字位置*/
#arena .button.character > .name {
    font-family: xingkai, xinwei;
	top: 16px;
	left:-15px;
	font-size: 13px;
	text-align: center;
	z-index: 100;
}
.button.character.decadeUI.newstyle>.hp>.text{
	left:-1px;
   }
.button.character>.hp {
	display: flex;
    left: -18px;
    top: 109px;
	width: 15px;
	white-space:normal;
	height:15px;
	flex-direction: row;
	flex-wrap: wrap-reverse;
	justify-content:flex-end;
	font-size: 16px;
    word-break: break-word;
	z-index: 100;
}
.button.character::before {
    left: -20px;
     top: -7px;/*这两条是框的位置*/
    width: calc(100% + 26px);
    height: calc(100% + 17px);/*这两条是框的大小*/
    box-shadow: none;
    /*盒子阴影不用改*/
    box-sizing: border-box;
    /*盒子大小，同框，不用改*/
    border-image-source: url('image/xuanjiang.png');
    /*边框图片*/
    background-image: url('image/xuanjiang1.png');
    /*背景图片，也就是确认*/
    background-size:100px 75px;
    /*确认图片的宽高*/
    border-width:6px;
    /*框的粗细*/
    background-position:bottom !important;
    /*用来给确认定位的，前面调上下，后面调左右，不写就是默认居中*/
   background-repeat: no-repeat;
   /*图片只显示一次，删掉会出现很多图片*/
   /* background-attachment:fixed;*/
	border-radius: 10px  7px  7px  10px;
	/*框四周的圆角，从左到右顺时针*/
    border-style: solid;
    border-color: transparent;
    /*框的颜色，不用管，这是本体设置的*/
    z-index:11;/*图层*/
}
/*换将按钮*/
#but1{
display:flex;
    left: 0px;
  /*  top: 0px;*/
    bottom: 0px;
	width: 30px;
	height: 30px;
	font-size:0px;
	border-radius: 100%;
	border-width:0px;
	box-shadow: none;
    background-image: url('image/huan.png');
	background-size: 42px 42px;
	background-position:center center;
	z-index:100;
}
#but1:active{   
    zoom:0.9;
}

.button.replaceButton,.button.replaceButton.text{
    left: 61px;
    top: auto;
    bottom: 108px;
	width: 35px;
	height: 35px;
	font-size:0px;
	background:none;
	border:none;
	box-shadow: none;
	z-index:20;
}
/*菜单界面武将的属性*/
.button.character.decadeUI.newstyle.noclick{
	/*border-style: none;*/
	zoom:0.9;
	width:81.5px;
	height: 130px;
	margin-left:10px;
   }
.button.character.decadeUI.newstyle.noclick::before{
	zoom:0.5;
   }
   .button.character.decadeUI.newstyle.noclick>.hp{
  line-height: 2.2;
  position: absolute;
  width:18px;
  left: -21.5px;
   }
.button.character.decadeUI.newstyle.noclick>.hp>.text{
   display:inline;
	left:2.5px;
	bottom:10px;
	line-height: 1;
   }
   /*将框*/
.button.character.decadeUI.newstyle{
	border-image-source: url('image/border.png');
	border-image-slice: 40 16 8 40;
	float: top;
	border-width:25px 8.5px 7px 25px;
	zoom: 1.1;
	border-style: solid;
	box-shadow: none;
	margin-left:15px;
	border-radius: 3px 6px 7px 3px;/*左上到左下顺时针*/
	z-index:10;
	background: content-box;
	opacity: 1;
	transition: opacity 0.3s linear;
   }
   /*骨骼图层*/
   #decadeUI-canvas {
    z-index: 100 !important;
}
/*这是boss框*/
.player.fullskin.bossplayer::after{
	background-image: url('group/demon.png');
	zoom: 1.1;
	border: none;
	box-shadow: none;
	width: 160px;
	height: 210px;
	top: -4px;
	left: -10px;
	background-size: 100% 100% !important;
	margin-left:15px;
	border-radius: 10px;
	z-index:90;
	opacity: 1;
	transition: opacity 0.3s linear;
   }
   .player.fullskin.bossplayer{
border: none;
background: none;
box-shadow: none;
   }
   .player.bossplayer>.identity {
z-index: 91;
top: 50px;
}
.player.fullskin.bossplayer.highlight::after{
	z-index: -1;
	animation:0.5s ease 0s 1 normal none running kf-sprites-glow;
}
.player.fullskin.bossplayer.highlight{
	border: none;
	animation:0.5s ease 0s 1 normal none running player-died;
}
/*去除特殊选项框里卡牌的文字以及背景*/
.dialog.big>.content-container>.content>.caption{
    font-size:30px;
    text-shadow:none;
    background-image:-webkit-linear-gradient(bottom,#c7a746 58%, #f0d775 22%); 
	/*字体渐变色，色调*/
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
		font-weight: 700;
	-webkit-text-stroke: 0.1px rgba(0,0,0,0.16);
}
.dialog.big>.content-container>.content>.buttons>.card.button.none::before{
    border: none;
    position: absolute;
    background-image: url(image/cha.png);
    width: 50px;
    height: 50px;
    left: 50% !important;
    top: 10%;
    right: 0px !important;
    background-size: 100% 100%;
    background-repeat: no-repeat;
}
.dialog.big>.content-container>.content>.buttons>.card.button.none.selected{
	filter: brightness(50%);
	border: none;
}
.card.button.none>.top-name:not(.base):not(.trick):not(.equip){
opacity: 0;
}
.card.button.none>.background{
	opacity: 0;
}
.card.button.none{
box-shadow:none;
border:none;
}

/*这里是单行选将框*/

.dialog.scroll1.scroll2.singlex>.content-container>.content>.caption + .buttons:not(*:last-child) {
white-space: pre;
overflow-x: scroll;
overflow-y: hidden;
}
.dialog.scroll1.scroll2.singlex>.content-container>.content {
    display: flex;
    flex-direction: column;
}
.dialog.scroll1.scroll2.singlex>.content-container>.content>div {
	white-space: pre;
	overflow-x: scroll;
	overflow-y: hidden;
	}
/*选择国籍*/	
#arena.decadeUI.choose-character.dui-mobile>.dialog.scroll1.scroll2.singlex.group{
top:auto;
bottom:22%;
height:300px !important;
margin-left:-10%;
width:70em !important;
}	
#arena.decadeUI.choose-character.dui-mobile>.dialog.scroll1.scroll2.singlex.group>.content-container>.content>.buttons{
bottom:-20px !important;
}
#arena.decadeUI.choose-character.dui-mobile>.dialog.scroll1.scroll2.singlex.group>.content-container>.content>.buttons>.card.button{
border-radius:50% !important;
background-size:cover;
margin-left:30px;
box-shadow:none;
border:none;
background:none;
background-repeat:no-repeat;
width:120px;
height:120px;
}
#arena.decadeUI.choose-character.dui-mobile>.dialog.scroll1.scroll2.singlex.group>.content-container>.content>.buttons>.card.button.selected.selectable::before{
    border:none;
	background-image: url('group/sgroup.png') !important;
	background-size:100% 100%;
background-repeat:no-repeat;
	border-radius:50% !important;
	width:122px;
	height:122px;
	top:auto;
	left:auto;
	right:0px;
	bottom:0px;
	background-position:100% 100%;
	box-shadow: none;
}
#arena.decadeUI.choose-character.dui-mobile>.dialog.scroll1.scroll2.singlex.group>.content-container>.content>.buttons>.card.button>.top-name:not(.base):not(.trick):not(.equip){
opacity: 0;
}
#arena.decadeUI.choose-character.dui-mobile>.dialog.scroll1.scroll2.singlex.group>.content-container>.content>.buttons>.card.button>.background{
	opacity: 0;
}
#arena.decadeUI.choose-character.dui-mobile>.dialog.scroll1.scroll2.singlex.group>.content-container>.content>.buttons>.card.button{
box-shadow:none;
border:none;
}
/*这里是欢乐模式选将框*/	
#arena.decadeUI.choose-character.dui-mobile>.dialog.scroll1.scroll2.singlex.huanle{
 background-image: url('image/dialogx.png') !important;
margin-left:-10%;
height:250px !important;
width:1200px !important;
background-size:100% 160% !important;
}
.dialog.scroll1.scroll2.singlex.huanle>.content-container>.content>.caption + .buttons:not(*:last-child) {
text-align:left;
white-space: pre;
overflow-x: scroll;
overflow-y: hidden;
}
.dialog.scroll1.scroll2.singlex.huanle>.content-container>.content {
    display: flex;
    flex-direction: column;
    text-align:left;
}
.dialog.scroll1.scroll2.singlex.huanle>.content-container>.content>div {
    text-align:left;
	white-space: pre;
	overflow-x: scroll;
	overflow-y: hidden;
	}
/*军8强力模式单行*/	
#arena.decadeUI.choose-character.dui-mobile>.dialog.scroll1.scroll2.singlex.shenfen{
 background-image: url('image/dialogx.png') !important;
margin-left:-10%;
height:250px !important;
width:110% !important;
background-size:100% 100% !important;
}
.dialog.scroll1.scroll2.singlex.shenfen>.content-container>.content>.caption + .buttons:not(*:last-child) {
text-align:left;
white-space: pre;
overflow-x: scroll;
overflow-y: hidden;
}
.dialog.scroll1.scroll2.singlex.shenfen>.content-container>.content {
    display: flex;
    flex-direction: column;
    text-align:left;
}
.dialog.scroll1.scroll2.singlex.shenfen>.content-container>.content>div {
    text-align:left;
	white-space: pre;
	overflow-x: scroll;
	overflow-y: hidden;
	}
/*拼点框*/			
.skill-dialog{
min-height:0px !important;
}	
.skill-dialog.compare{
   position: absolute;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 150px;
   /* top:0px !important;*/
    bottom:40% !important;
	left: 0px !important;
	right: 0px !important;
    min-height: 0px !important;
    max-height: 250px !important;
    border-width: 50px 0px 1px 0px;
    border-style: solid;
    border-color: transparent;
    border-image-source: url('image/dialog.png');
    border-image-slice: 40 1 50 1 fill;
    transition: opacity, background, transform 0.5s;
    z-index: 6;
}	
.skill-dialog.compare>.caption {
    top: -40px;
    font-size:30px;
    text-shadow:none;
    background-image:-webkit-linear-gradient(bottom,#c7a746 58%, #f0d775 22%); 
	/*字体渐变色，色调*/
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
		font-weight: 700;
	-webkit-text-stroke: 0.1px rgba(0,0,0,0.16);
    }  
.skill-dialog.compare>.content{
bottom:0px !important;
top:auto;

}      
.skill-dialog.compare>.content>.player-card::before, 
.skill-dialog.compare>.content>.target-card::before {
    content: attr(data-text);
    position: absolute;
    top: 0%;
    display: flex;
    writing-mode: vertical-lr;
    width: 1.8em;
    word-break: break-word;
    height: 100%;
    text-align: center;
    left: -50%;
    color: white;
    font-family: 'shousha';
    font-size: 24px;
    text-align: center;
    text-shadow: none;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
    flex-direction: row;
    align-content: flex-start;    
    background-image: url('image/name.png');
    background-size:100% 100%;
    background-repeat: no-repeat;
}    
.skill-dialog.compare>.content>.player-character>.image {
    height: 0px;
    opacity:0;
    box-shadow:none;
    background:none;
    clip-path: url(#solo-clip);
    -webkit-clip-path: url(#solo-clip);
}
.skill-dialog.compare>.content>.player-character{
opacity:0;
}
.skill-dialog.compare>.content {
    display: flex;
    align-items: center;
    justify-content: center;
    bottom:20px;
}
.skill-dialog.compare>.content>.vs{
opacity:0;
}
.skill-dialog.compare>.content>.target-card{
left:2%;
}
.skill-dialog.compare>.content>.target-card::after, .skill-dialog.compare>.content>.player-card::after {
    content: attr(data-result);
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    top:50%;
    width: 80%;
    height: 80%;
    background-size: 100% 100%;
    color: red;
    font-size: 0px;
    font-family: xingkai;
    text-align: center;
    left: 50%;
}
.skill-dialog.compare>.content>.target-card[data-result='赢']::after,
.skill-dialog.compare>.content>.player-card[data-result='赢']::after {
	background-image: url('image/win.png');
	z-index:100;
	/*background-position: 180% 120%;*/
}
.skill-dialog.compare>.content>.target-card[data-result='没赢']::after,
.skill-dialog.compare>.content>.player-card[data-result='没赢']::after {
	background-image: url('image/lose.png');
	background-position: top right;
	background-size: 100% 100% !important;
	z-index:100;
/*	background-position: 180% 120%;*/
}
.control.stayleft.glow{
   border:none !important;
	box-shadow: none!important;
	background:none;
}