.mabg1{/*第一个背景*/
width:130%;
height:130%;
background-image: url("game/mabg1.png");
background-size: 100% 100%;
background-repeat: no-repeat;
left:-15%;
bottom:-10%;
z-index:-1;
}
.cxy-szbxt[data-id='pc']>.mabg1{/*pc端第一个背景*/
width:130%;
height:170%;
background-image: url("game/mabg1.png");
background-size: 100% 100%;
background-repeat: no-repeat;
left:-15%;
bottom:-40%;
z-index:-1;
}
.mabg{
width:100%;
height:100%;
background-image: url("game/mabg.png");
background-size: 100% 100%;
background-repeat: no-repeat;
bottom:5%;
z-index:10;
}
.cxy-szbxt {/*整体*/
  --width: 750px;
  --height: 400px;
  --item-w: calc(var(--width) / 6);
 --action-size: calc(var(--item-w)  / 3);
  --color-primary: #705a3c;
  --color-border: #b6996d;
  --color-process: #1e281a;
  --color-water: #00a0ff;
  width: var(--width);
  height: var(--height);
  top: calc(50% - var(--height) / 2);
  left: calc(50% - var(--width) / 2);
  z-index: 10;
}
.cxy-szbxt[data-id='pc']{/*pc端整体*/
  --width: 66em;/*调节宽度，以及水槽间隔*/
  --height: 400px;
  --item-w: calc(var(--width) / 6);/*水槽间隔均分整体*/
 --action-size: calc(var(--item-w)  / 3);
  --color-primary: #705a3c;
  --color-border: #b6996d;
  --color-process: #1e281a;
  --color-water: #00a0ff;
  width: var(--width);
  height: var(--height);
  top: calc(50% - var(--height) / 2);
  left: calc(50% - var(--width) / 2);
  z-index: 10;
}
.cxy-szbxt-item {
  --w: var(--item-w);
  width: var(--w);
  height: var(--height);
  position: relative;
  float: left;
}
.cxy-szbxt-action {
  --size: var(--action-size);
  width: var(--size);
  height: var(--size);
  border-radius: 100%;
  background-color: var(--color-primary);
  border: 3px solid var(--color-border);
  top: 15px;
  left: calc(50% - var(--size) / 2);
  cursor: pointer;
  transition: all 0.8s;
  z-index: 10;
}
.cxy-szbxt-anchor {
  --height: calc(var(--size) / 5);
  width: var(--size);
  height: var(--height);
  background-color: var(--color-primary);
  border-top: 2px solid var(--color-border);
  border-bottom: 1px solid var(--color-border);
  top: calc(50% - var(--height) / 2);
  box-sizing: border-box;
  left: 50%;
}
.cxy-szbxt-anchor::before {
  content: '';
  width: var(--height);
  height: var(--height);
  border-radius: 100%;
  background-color: var(--color-primary);
  border: 2px solid var(--color-border);
  left: calc(var(--height) / -2 - 2px);
  top: calc(50% - var(--height) / 2 - 2px);
  position: absolute;
}
.cxy-szbxt-anchor::after {
  --h: calc(var(--height) * 1.5);
  --w: calc(var(--size) / 2);
  content: '';
  width: var(--w);
  height: var(--h);
  position: absolute;
  background-color: var(--color-primary);
  border: 2px solid var(--color-border);
  top: calc(50% - var(--h) / 2 - 2px);
  left: 50%;
}

.cxy-szbxt-process {
  --h: calc(var(--height) * 0.8);/*水槽长度*/
  height: var(--h);
  background-color: var(--color-process);
  border-left: 2px solid var(--color-border);
  border-right: 2px solid var(--color-border);
  box-sizing: border-box;
  top: calc(15px + var(--action-size) - 4px);
  left: calc(50% + 2px);
  transform: translateX(-50%);
}
.cxy-szbxt-process > div {
  left: 0;
  bottom: 0;
  width: 100%;
  background: linear-gradient(107deg, #6bbcd1, #c4ebf5);
  transition: all 0.8s;
  overflow: hidden;
  animation: GradientBackground 5s ease infinite;
}
.cxy-szbxt-process > div::before {
  content: "";
  position: absolute;
  bottom: 90%;
  left: 55%;
  background: rgba(255, 255, 255, 0.5);
  width: 235px;
  height: 195px;
  border-radius: 50%;
  box-sizing: border-box;
  transform: translateX(-50%) rotate(0);
  animation: wave 6s linear infinite -5s;
}
.cxy-szbxt-process > div::after {
  content: "";
  position: absolute;
  bottom: 90%;
  left: 55%;
  width: 75px;
  height: 45px;
  border-radius: 30%;
  box-sizing: border-box;
  transform: translateX(-50%) rotate(0);
  animation: wave 10s linear infinite;
}

.cxy-szbxt-content {/*脚底百分比*/
  --size: calc(var(--action-size) * 1.2);
  width: var(--size);
  height: var(--size);
  left: calc(65% - var(--size) / 2);
  /*调左右位置*/
  top: calc(90% + 15px + var(--action-size) - 8px);
  /*调节位置上下*/
}
.cxy-szbxt[data-id='pc']>.cxy-szbxt-item>.cxy-szbxt-content{/*pc端百分比*/
  --size: calc(var(--action-size) * 1.2);
  width: var(--size);
  height: var(--size);
  left: calc(65% - var(--size) / 2);
  top: calc(115% + 15px + var(--action-size) - 8px);
}
@keyframes wave {
  50% {
    transform: reanslatex(-50%) rotate(0deg);
  }
  100% {
    transform: translatex(-50%) rotate(360deg);
  }
}
@keyframes GradientBackground {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
.majindutiao{/*抢地主和选将进度条*/
display: block;
position: absolute;
width:50%;
background-image: url('image/time.png');
left:25%;
bottom:5px;
height:14px;
background-repeat:no-repeat;
background-size:100% 100%;
border-radius:14px;
z-index:7;
}
.majindutiaox{
display: block;
position: absolute;
background-image:url('image/timex.png');
width:50%;
left:25%;
bottom:5.2px;
background-repeat:no-repeat;
background-size:100% 100%;
border-radius:14px;
height:14px;
z-index:8;
animation:nmxiaoshix 20s;
}
@keyframes nmxiaoshix {
	from {
		width: 50%;
	}
	to {
		width: 0;
	}	
}