name: build cli

on:

  workflow_dispatch:
  push:

jobs:
  build-rootfs:
    runs-on: ubuntu-24.04
    permissions:
      contents: read
    steps:

    #- name: clean
    #  uses: rokibhasansagar/slimhub_actions@main
        
    - name: "Checkout Repo"
      uses: actions/checkout@v4
      with: 
        #repository: Frain-Breeze/teatimetools
        repository: mos9527/mages-tools
        fetch-depth: 2
        submodules: true
        
    - name: Install package
      run: sudo apt install libxml2-dev libbz2-dev libssl-dev zlib1g-dev gcc g++ binutils libstdc++-10-dev libstdc++-9-dev ninja-build libzstd-dev
            
    - name: Checkout build files
      run: git submodule update --init

    - name: configure
      run: |
        mkdir out
        cd out
        cmake .. -GNinja 
    - name: Build
      run: |        
        ninja -C out
    - uses: actions/upload-artifact@v4
      with:
        name: out
        path: out
