name: ci
on:
  schedule:
    - cron: "12,24,36,48 * * * *"
  workflow_dispatch:
  push:
  pull_request:
  workflow_call:
  
jobs:
  live-build:
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-latest, windows-latest, macos-latest]
     
    
    runs-on: ${{ matrix.os }}
    permissions:
      contents: write
    steps:

    - uses: actions/checkout@v4
    - uses: actions/setup-java@v4
      with:
        distribution: 'zulu'
        java-version: '8'
    - name: Install Node.js
      uses: actions/setup-node@v4
      with:
         node-version: 20
    - name: Install Python
      uses: actions/setup-python@v5
      with:
        python-version: 3.11
    - name: Install dotnet
      uses: actions/setup-dotnet@v4
      with:
        dotnet-version: 7.x
    - uses: actions/setup-go@v5
      with:
        go-version: '^1.18' 
        cache: false
    - name: Commit updates
      continue-on-error: true
      run: |
        git pull
        git config user.name "dpkg123"
        git pull
        git config user.email "test1@qw5d.onmicrosoft.com"
        git pull
        git config --global --add safe.directory /github/workspace
        git pull
        printf "$(date)\n\n" > 1.md
        git add .
        git commit -am "$(date)"
        git pull --rebase

    - name: GitHub Push
      continue-on-error: true
      uses: ad-m/github-push-action@master
      with:
        force: true
        github_token: ${{ secrets.GITHUB_TOKEN }}

  live-build-1:
    needs: live-build
    strategy:
      fail-fast: false
      matrix:
        container: [debian, ubuntu]
    runs-on: ubuntu-latest
    container: ${{ matrix.container }}:latest
    permissions:
      contents: write
    steps:

    - run: apt update && apt install git nodejs wget -y
    - uses: actions/checkout@v4
    - uses: actions/setup-java@v4
      with:
        distribution: 'zulu'
        java-version: '8'
    - name: Install Node.js
      uses: actions/setup-node@v4
      with:
         node-version: 20
    - name: Install Python
      uses: actions/setup-python@v5
      with:
        python-version: 3.11
    - name: Install dotnet
      uses: actions/setup-dotnet@v4
      with:
        dotnet-version: 7.x
    - uses: actions/setup-go@v5
      with:
        go-version: '^1.18' 
        cache: false
    - name: Commit updates
      continue-on-error: true
      run: |
        git config --global --add safe.directory /__w/test_actions/test_actions
        git pull
        git config user.name "dpkg123"
        git pull
        git config user.email "test1@qw5d.onmicrosoft.com"
        git pull
        git config --global --add safe.directory /github/workspace
        git pull
        printf "$(date)\n\n" > 1.md
        git add .
        git commit -am "$(date)"
        git pull --rebase

    - name: GitHub Push
      continue-on-error: true
      uses: ad-m/github-push-action@master
      with:
        force: true
        github_token: ${{ secrets.GITHUB_TOKEN }}


  alpine:
    needs: live-build
    strategy:
      fail-fast: false
      matrix:
        version: [latest, 3.17, 3.19, 3.18]
    runs-on: ubuntu-latest
    container: alpine:${{ matrix.version }}
    permissions:
      contents: write
    steps:

    - run: apk update && apk add nodejs git curl bash
    - uses: actions/checkout@v4
    - uses: actions/setup-java@v4
      with:
        distribution: 'zulu'
        java-version: '8'
    - name: Install Node.js
      uses: actions/setup-node@v4
      with:
         node-version: 20
    - name: Install Python
      uses: actions/setup-python@v5
      with:
        python-version: 3.11
    - name: Install dotnet
      uses: actions/setup-dotnet@v4
      with:
        dotnet-version: 7.x
    - uses: actions/setup-go@v5
      with:
        go-version: '^1.18' 
        cache: false
    - name: Commit updates
      continue-on-error: true
      run: |
        git config --global --add safe.directory /__w/test_actions/test_actions
        git pull
        git config user.name "dpkg123"
        git pull
        git config user.email "test1@qw5d.onmicrosoft.com"
        git pull
        git config --global --add safe.directory /github/workspace
        git pull
        printf "$(date)\n\n" > 1.md
        git add .
        git commit -am "$(date)"
        git pull --rebase

    - name: GitHub Push
      continue-on-error: true
      uses: ad-m/github-push-action@master
      with:
        force: true
        github_token: ${{ secrets.GITHUB_TOKEN }}



  fedora:
    needs: 
      - alpine
    strategy:
      fail-fast: false
    runs-on: ubuntu-latest
    container: fedora:latest
    permissions:
      contents: write
    steps:

    - run: dnf install git nodejs wget -y
    - uses: actions/checkout@v4
    - uses: actions/setup-java@v4
      with:
        distribution: 'zulu'
        java-version: '8'
    - name: Install Node.js
      uses: actions/setup-node@v4
      with:
         node-version: 20
    - name: Install Python
      uses: actions/setup-python@v5
      with:
        python-version: 3.11
    - name: Install dotnet
      uses: actions/setup-dotnet@v4
      with:
        dotnet-version: 7.x
    - uses: actions/setup-go@v5
      with:
        go-version: '^1.18'
        cache: false
    - name: Commit updates
      continue-on-error: true
      run: |
        git config --global --add safe.directory /__w/test_actions/test_actions
        git pull
        git config user.name "dpkg123"
        git pull
        git config user.email "test1@qw5d.onmicrosoft.com"
        git pull
        git config --global --add safe.directory /github/workspace
        git pull
        printf "$(date)\n\n" > 1.md
        git add .
        git commit -am "$(date)"
        git pull --rebase

    - name: GitHub Push
      continue-on-error: true
      uses: ad-m/github-push-action@master
      with:
        force: true
        github_token: ${{ secrets.GITHUB_TOKEN }}
