name: ci
on:
  schedule:
    - cron: "0,15,30,45 * * * *"
  workflow_dispatch:
  push:
  pull_request:
  workflow_call:
  
jobs:
  live-build:
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-latest, ubuntu-22.04, ubuntu-22.04-arm, ubuntu-24.04-arm, macos-latest]
     
    
    runs-on: ${{ matrix.os }}
    permissions:
      contents: write
    steps:

    - uses: actions/checkout@v5
    - uses: actions/setup-java@v5
      with:
        distribution: 'zulu'
        java-version: '8'
    - name: Install Node.js
      uses: actions/setup-node@v6
      with:
         node-version: 20
    - name: Install Python
      uses: actions/setup-python@v6
      with:
        python-version: 3.11
    - name: Install dotnet
      uses: actions/setup-dotnet@v5
      with:
        dotnet-version: 7.x
    - uses: actions/setup-go@v6
      with:
        go-version: '^1.18' 
        cache: false
    - name: Commit updates
      continue-on-error: true
      run: |
        git config user.name "dpkg123"
        git config user.email "test1@qw5d.onmicrosoft.com"
        git config --global --add safe.directory /github/workspace
        git pull --rebase
        for i in {1..256}; do printf "#define DATE $(date)\n\n" > 1.y && git add . && git commit -m "$(date)" && sleep $((RANDOM % 10)) ; done
        git pull --rebase

    - name: GitHub Push
      continue-on-error: true
      uses: ad-m/github-push-action@master
      with:
        force: true
        github_token: ${{ secrets.GITHUB_TOKEN }}
