name: build debian11 armel rootfs

on:

  workflow_dispatch:
  workflow_call:

jobs:
  build-rootfs:
    runs-on: ubuntu-20.04
    permissions:
      contents: read
    steps:

    - name: "Checkout Repo"
      uses: actions/checkout@v4
      
    - name: Prepare the environment
      run: |
        sudo apt update 
        sudo apt install qemu-user-static debootstrap cpio

    - name: Build Rootfs
      run: |
        sudo debootstrap --arch=armel --include=icewm,xinit,w3m,htop,neofetch,nethack-console bullseye rootfs

    - name: Configure Rootfs
      run: |
        sudo test -d /etc/resolv.conf || sudo cp /etc/resolv.conf rootfs/etc/ -rv
        sudo chmod 777 -R rootfs/etc/hostname
        sudo sed -i 's/deb.debian.org/mirrors.ustc.edu.cn/g' rootfs/etc/apt/sources.list
        cd rootfs && sudo find -name qemu-* -delete
         
    - name: Package Rootfs
      run: |
        cd rootfs
        sudo rm -rf -v var/lib/apt/lists var/cache/apt/archives
        sudo find ./* | sudo cpio -oc > ../rootfs.cpio
        gzip -c ../rootfs.cpio > ../rootfs.cpio.gz

    - name: Upload rootfs.cpio to Artifact
      uses: actions/upload-artifact@v4
      with: 
       name: "3ds-rootfs-debian"
       path: rootfs.cpio.gz

  build-kernel:
    needs: build-rootfs
    runs-on: ubuntu-20.04
    permissions:
      contents: read
    steps:

    - name: "Pull Repo"
      run: git clone https://github.com/linux-3ds/linux --depth=1

    - name: Download Rootfs
      uses: actions/download-artifact@v5
      with:
       name: 3ds-rootfs-debian
       path: linux/
    - name: "Install Packages"
      run: sudo apt-get install -y gcc-arm-linux-gnueabi binutils build-essential git flex bison libssl-dev bc axel libgmp-dev libmpc-dev jq
    - name: Build
      env:
        ARCH: "arm"
        CROSS_COMPILE: "arm-linux-gnueabi-"
      run:  |
        make -C linux nintendo3ds_defconfig all -j4
        mkdir -p -v out 
        cp linux/arch/arm/boot/zImage out -v
        cp linux/arch/arm/boot/dts/nintendo3ds_ctr.dtb out -v
        cp linux/arch/arm/boot/dts/nintendo3ds_ktr.dtb out -v

    - name: Upload rootfs to Artifact
      uses: actions/upload-artifact@v4
      with: 
       name: "3ds-kernel-debian"
       path: out/*
